page-home {
    img {
        height: 190px; 
        width: 300px;
            margin-left: auto;
        margin-right: auto;
        position: top;
        }
        ion-card{
            //display: flex;
            flex-direction: column;
            width: 100% !important;
            margin: 0 !important;
          }


        /* ion-item{
           display: flex;
           flex-direction: column-reverse;
           width: 100% !important;
           margin: 0 !important;
               margin-left: auto;
           margin-right: auto;
           position: top;
          //  width:50%;
 
         }

         ion-item-img{
            height: 50px; 
        width: 90px;
          } */
        
          
        
       .content {
          // background:#CD6600;  
         // background : #D3D3D3;
        background: #E8E8E8;
        //background : #B5B5B5;
       // background: #A9A9A9;
        // background: #A9A9A9;
            } 
}
